<div>
<p><%= @park.description %></p>
</div>

<% if false %>

<%= turbo_frame_tag "park_details" do %>
    <div class="grid grid-cols-1 gap-2">
        <div>
            <h1 class="text-xl font-bold"><%= @park.name %></h1>
        </div>

        <div>
            <p><%= @park.description %></p>
        </div>
    </div>
<% end %>

<% end %>